#ms_sens_video_title_cont {
    width: 40.45vw;
}

#ms_tr_video_big_title {
    top: 1.4vw;
    left: 68px;
    font-size: 2.29vw;
    line-height: 2.76vw;
    z-index: 3;
}

#ms_tr_video_small_title {
    top: 4.63vw;
    left: 68px;
    font-size: 1.66vw;
    line-height: 1.92vw;
    z-index: 3;
}

#ms_sens_comb_title {
    left: -13.35vw;
    width: 42.5vw;
}

#ms_h_title {
    left: 10vw;
}

#ms_h_b_diet_import {
    left: 5vw;
}

#ms_r_title {
    left: 11.4vw;
}

#ms_programmes_titles_cont {
    left: 13.37vw;
}

#ms_our_life_title_one {
    left: 7.34vw;
}

#ms_our_life_title_two {
    left: 7.34vw;
}

#ms_concentr_el_group_first_title {
    left: 40.52vw;
}

#ms_concentr_el_group_second_title {
    top: 36.45vw;
    left: 38.62vw;
}

#ms_dsd_second_title {
    width: 18.15vw;
    top: -1.46vw;
    left: 57.2vw;
}

#ms_as_sb_title_two {
    left: 0.36vw;
    width: 16.29vw;
}

#p_first_title_two {
    padding: 0.78vw 0px 0.78vw 2.14vw;
}

#ps_title_second {
    left: 3.8vw;
}

#ps_title_third {
    left: 14.7vw;
}

#rs_first_title{
    width: 25.43vw;
}

#ms_as_sb_title_one {
    position: relative;
    left: 1.8vw;
}

#ms_as_sb_title_two {
    left: 2.3vw;
}

#ms_v_b_will_bad {
    left: 0.56vw;
}

#ms_v_b_im_bad {
    left: 14.5vw;
}
